<div class="container-fluid" id="main-header">
  <div class="row align-items-center justify-items-between d-flex main-header"  >
    <span class="svg-home-header col-4">
      <%= show_svg("unexpected_friends.svg") %>
    </span>
    <div class="container col-7 main-text-home justify-content-center text-center">
      <h1 id="welcome-title">Welcome to Other Otter</h1>
      <p id="welcome-message">Come and find your S.O (Significant Otter).</p>
      </br>
      </br>
      </br>
      <%= link_to "See All Otters", otters_path, class:"home-button button link-button type1"%>
    </div>
  </div>
</div>

<div class="container" style="text-align: center;" id="underline-and-arrow">
  <div class="row small-underline"></div>
  <div class="row arrow-next-otter smooth-scroll" id="arrow-next-star">
    <a href="#otter-stars">
    <span class="far fa-arrow-alt-circle-down"></span>
    </a>
  </div>
</div>

<div class="container mt-3">
    <h2 id="otter-stars" class="text-align">Our Star Otters</h2>
</div>
<div class="container">
<!-- flip-card-container -->
<% @otters.each_slice(3) do |otters| %>
  <div class="cards cards-centered container d-flex justify-content-around">
    <% otters.each do |otter| %>
      <div class="flip-card-container card-category m-4" style="--hue: 220">
        <div class="flip-card">

          <div class="card-front">
            <figure>
              <div class="img-bg"></div>
              <% if otter.photo.attached? %><%= cl_image_tag otter.photo.key, class:"card-img"  %>
              <% end %>
              <figcaption><%= otter.name %></figcaption>
            </figure>

            <ul class="card-ul text-center" style="padding-left:0px">
              <li class="card-li">Best Quality: <strong><%= otter.personality %></strong></li>
              <li class="card-li"><%= otter.age %> Years Old</li>
            </ul>
          </div>

          <div class="card-back">
            <figure>
              <div class="img-bg"></div>
              <% if otter.photo.attached? %><%= cl_image_tag otter.photo.key %>
              <% end %>
            </figure>

            <%= link_to "See More", otter_path(otter), class:"button-card" %>

            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
<!-- /flip-card-container -->
