<div class="container d-flex justify-content-around">
    <div class="card-trip">
      <% if @otter.photo.attached? %>
        <%= cl_image_tag @otter.photo.key, crop: :fit, :class => "rounded" %>
      <% end %>
      <div class="card-trip-infos">
        <h2><%= @otter.name.capitalize %></h2>
        <p>Age: <%= @otter.age %> Years old </p>
        <p>Personality: <%= @otter.personality.capitalize %></p>
        <% if policy(@otter).edit? %>
          <%= link_to "", edit_otter_path(@otter), class: "fas fa-edit" %>
        <% end %>
        <% if policy(@otter).destroy? %>
          <%= link_to "", otter_path(@otter), method: :delete, class: "fas fa-trash-alt" %>
        <% end %>
      </div>
    </div>
    <hr>
      <div id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>">
      <div class="container">
        <div class="form-wrapper">
          <h2 id="book-otter">Book <%= @otter.name.capitalize %></h2>
            <%= simple_form_for [@otter, @booking] do |f| %>
              <%= f.input :beginning_date, label: "Select your dates:", as: :string, required: false, input_html: { id: "range_start", class: "d-none" } %>
              <%= f.input :ending_date, label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none" } %>
              <div class="button link-button type3" style="font-size:30px!important;">
              <%= f.submit "Book now", class:'button link-button type 3'%>
              </div>
            <% end %>
        </div>
      </div>
    </div>
</div>

