<div class="container d-flex justify-content-around" style="min-height: calc(100vh - 158px)">
  <div class="container-fluid">
    <div class="">
      <% if @otter.photo.attached? %>
        <%= cl_image_tag @otter.photo.key, width: 600, crop: :fit, :class => "rounded" %>
      <% end %>
    </div>
    <div class="">
      <h1><%= @otter.name.capitalize %></h1>
      <hr>
      <p>Age: <%= @otter.age %> Years old </p>
      <p>Personality: <%= @otter.personality.capitalize %></p>
      </br>
      <%= link_to 'Book It Now', new_otter_booking_path(@otter), class: "btn btn-primary" %>
      <% if policy(@otter).edit? %>
        <hr>
        <%= link_to "", edit_otter_path(@otter), class: "fas fa-edit" %>
      <% end %>
      <% if policy(@otter).destroy? %>
        <%= link_to "", otter_path(@otter), method: :delete, class: "fas fa-trash-alt" %>
      <% end %>
    </div>
  </div>
</div>
