<div class="container d-flex justify-content-around" style="min-height: calc(100vh - 158px)">
    <div class="card-trip">
      <% if @otter.photo.attached? %>
        <%= cl_image_tag @otter.photo.key, crop: :fit, :class => "rounded" %>
      <% end %>
      <div class="card-trip-infos">
        <h2><%= @otter.name.capitalize %></h2>
        <p>Age: <%= @otter.age %> Years old </p>
        <p>Personality: <%= @otter.personality.capitalize %></p>
        <% if policy(@otter).edit? %>
          <%= link_to "", edit_otter_path(@otter), class: "fas fa-edit" %>
        <% end %>
        <% if policy(@otter).destroy? %>
          <%= link_to "", otter_path(@otter), method: :delete, class: "fas fa-trash-alt" %>
        <% end %>
      </div>
    </div>
    <hr>
      <div id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>">
      <div class="container">
        <div class="form-wrapper">
          <h2 id="book-otter">Book <%= @otter.name.capitalize %></h2>
            <%= simple_form_for [@otter, @booking] do |f| %>
            <%= f.input :beginning_date, label: "Select your dates:", as: :string, required: false, input_html: { id: "range_start", class: "d-none" } %>
            <%= f.input :ending_date, label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none" } %>
            <%= f.submit "Book now", class: "btn btn-flat"%>
            <% end %>
        </div>
      </div>
    </div>
</div>

<!-- <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div> -->

